POSTGRES_DB=memory_dropbox
POSTGRES_USER=memory_dropbox
POSTGRES_PASSWORD=memory_dropbox
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

QDRANT_HOST=localhost
QDRANT_PORT=6333

API_PORT=8000

EMBEDDING_DIM=384
QDRANT_COLLECTION=memory_items

LOG_LEVEL=INFO

